{% extends 'layouts/logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Comisiones
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('fancybox/fancybox_style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-timepicker-addon.css') }}" type="text/css" media="all" />

{% endblock %}


{% block extrajs %}
    <script type="text/javascript" src="{{ asset('assets/js/tek_exp_students.js?h=4') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>
    <script type="text/javascript">
        Tecnotek.module = "projectList";
        Tecnotek.assetsURL = "{{ path('homepage')}}";

        Tecnotek.UI.urls["searchProjects"] = "{{ path('_expediente_sysadmin_project_search')}}";


        Tecnotek.UI.urls["createProjectURL"] = "{{ path("_expediente_sysadmin_create_project") }}";
        Tecnotek.UI.urls["updateProjectURL"] = "{{ path("_expediente_sysadmin_update_project") }}";

        Tecnotek.UI.urls["getInfoProjectFullURL"] = "{{ path("_expediente_sysadmin_get_info_project_full") }}";
        Tecnotek.UI.urls["getInfoProjectURL"] = "{{ path("_expediente_sysadmin_get_info_project_detail") }}";


    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col-8"><h3>{% trans %}label.project.listar{% endtrans %}</h3></div>
                <div class="col-4" align="right">
                    <a id="openProjectForm" class="modalbox button success-darker tiny" href="#projectFormContainer">
                        <button type="button" class="btn btn-info"> <span style="color: #f0f0f0">{% trans %}label.add{% endtrans %}</span></button>
                    </a> </div>
                <div class="clear"></div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
            </div>

            <!-- TABLA DE STUART CON DATATABLES-->
            <div class="bs-example" data-example-id="contextual-table">
                <table class="table table-bordered table-hover table-condensed table-striped" id="example2" style="font-size: 14px">
                    <thead>
                    <tr>
                        <th  hidden>id</th>
                        <th>Nombre Proyecto</th>
                        <th>Codigo</th>
                        <th>Tipo</th>
                        <th></th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for arregloDato in projects %}
                        <tr class="info">
                            <td hidden>{{ arregloDato.id }}</td>
                            <td>{{ arregloDato.name }}</td>
                            <td>{{ arregloDato.code }}</td>
                            <td>{{ arregloDato.type }}</td>

                            <!-- Columna para poner los botones en la tabla -->
                            <td class="nowrap">
                                {% if role != 4 %}

                                    <div class="icon editButton" rel="{{ arregloDato.id }}"><a href=""> <i class="fas fa-gear" title="Editar"></i></a></div>

                                {% endif %}
                            </td>
                            <td class="nowrap">
                                {% if role != 4 %}
                                    <div class="icon viewButton" rel="{{ arregloDato.id }}"><a href=""> <i class="fas fa-eye" title="Ver"></i></a></div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- FIN DE TABLA DE STUART -->


        <div class="clear"></div>


        <div id="contactRowTemplate" class="row userRow ROW_CLASS" rel="PROJECT_ID" style="display: none;">
            <div class="option_width" style="float: left; width: 100px; margin-left: -6px;">PROJECT_CODE</div>
            <div class="option_width" style="float: left; width: 450px; margin-left: -6px;">PROJECT_NAME</div>
            <div class="option_width" style="float: left; width: 200px; margin-left: -6px;">PROJECT_TYPE</div>

            <!--<div class="right imageButton pdfButton"  title="{% trans %}label.check.program{% endtrans %}" rel="PROGRAM_ID"></div>
        <div class="right imageButton nopdfButton"  title="{% trans %}label.check.program{% endtrans %}" rel="PROGRAM_ID"></div>-->

            <div class="right imageButton editButton"  title="{% trans %}label.edit{% endtrans %}"  rel="PROJECT_ID"></div>
            <div class="right imageButton viewButton"  title="{% trans %}label.view{% endtrans %}"  rel="PROJECT_ID"></div>
            <div class="clear"></div>
        </div>


        <br/>

        <div style="display: none;">
            <a id="openProjectView" class="right button success-darker tiny modalbox" style="margin: 4px 0px 0 0;" href="#showContactInfoLink">{% trans %}label.open{% endtrans %}</a>
            <a id="openProjectEdit" class="right button success-darker tiny modalbox" style="margin: 4px 0px 0 0;" href="#projectFormContainerEdit">{% trans %}label.open{% endtrans %}</a>
        </div>
        <!-- hidden showContactInfoLink form -->
        <div id="showContactInfoLink" style="display: none; width: 650px; height: 500px">

            <h3>Informaci&oacute;n del curso</h3>
            <div id="projectContainerView" name="projectContainerView" class="contactInfo">

            </div>
        </div>



        <!-- hidden teacherAssignedFormContainer form -->
        <div id="projectFormContainer" style="display: none;">
            <h3 style="margin-bottom: 0px;">Agregar Curso</h3>

            <form class="customForm" id="projectForm" name="projectForm">

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.name{% endtrans %}</label>
                    <input type="text" id="nameProject" name="nameProject" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.code{% endtrans %}</label>
                    <input type="text" id="codeProject" name="codeProject" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.type{% endtrans %}</label>
                    <select id="typeProject" name="typeProject" style="width: 120px;">
                        <option value="1">Normal</option>
                        <option value="2">Otro</option>
                    </select>
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.status{% endtrans %}</label>
                    <select id="statusProject" name="statusProject" style="width: 120px;">
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>


                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px;" type="button" name="projectCancel" id="projectCancel" value="{% trans %}label.cancelar{% endtrans %}"/></div>
                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px; margin-left: 25px;" type="submit" name="save" value="{% trans %}label.include{% endtrans %}"/></div>
                <div class="clear"></div>
            </form>
        </div>

        <!-- hidden teacherAssignedFormContainer form -->
        <div id="projectFormContainerEdit" style="display: none;">
            <h3 style="margin-bottom: 0px;">Editar Curso</h3>

            <form class="customForm" id="projectFormEdit" name="projectFormEdit">

                <div style="margin-bottom: 5px; display: none;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.id{% endtrans %}</label>
                    <input type="text" id="idProjectEdit" name="idProjectEdit" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.name{% endtrans %}</label>
                    <input type="text" id="nameProjectEdit" name="nameProjectEdit" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.code{% endtrans %}</label>
                    <input type="text" id="codeProjectEdit" name="codeProjectEdit" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.type{% endtrans %}</label>
                    <select id="typeProjectEdit" name="typeProjectEdit" style="width: 120px;">
                        <option value="1">Normal</option>
                        <option value="2">Otro</option>
                    </select>
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.status{% endtrans %}</label>
                    <select id="statusProjectEdit" name="statusProjectEdit" style="width: 120px;">
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>


                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px;" type="button" name="projectCancel" id="projectCancel" value="{% trans %}label.cancelar{% endtrans %}"/></div>
                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px; margin-left: 25px;" type="submit" name="save" value="{% trans %}label.save{% endtrans %}"/></div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
{% endblock %}