{% extends 'layouts/logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Programas
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ asset('assets/js/tek_exp_students.js?f=4') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>

    <script type="text/javascript">
        Tecnotek.module = "programList";
        Tecnotek.assetsURL = "{{ path('homepage')}}";
        Tecnotek.UI.urls["searchPrograms"] = "{{ path('_expediente_sysadmin_program_search')}}";

        Tecnotek.UI.urls["edit"] = "{{ path('_expediente_sysadmin_program_edit_simple')}}";

        Tecnotek.UI.urls["programQ"] = "{{ path('_expediente_sysadmin_program_questions_simple')}}";
        Tecnotek.UI.urls["programQCheck"] = "{{ path('_expediente_sysadmin_program_questions_check_simple')}}";
        Tecnotek.UI.urls["pdfcheckProgramFormUrl"] = "{{ path('_expediente_sysadmin_program_questions_pdf_check_simple')}}";

        Tecnotek.UI.urls["getInfoProgramFullURL"] = "{{ path("_expediente_sysadmin_get_info_program_full") }}";

        Tecnotek.UI.urls["updateProgramURL"] = "{{ path("_expediente_sysadmin_update_program") }}";
        Tecnotek.UI.urls["getInfoProgramURL"] = "{{ path("_expediente_sysadmin_get_info_program_detail") }}";

        Tecnotek.UI.urls["createProgramURL"] = "{{ path("_expediente_sysadmin_create_program") }}";


    </script>
{% endblock %}



{% block content %}
    <link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('fancybox/fancybox_style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-timepicker-addon.css') }}" type="text/css" media="all" />

    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col-8"><h3>{% trans %}label.programs.list{% endtrans %}</h3></div>
                {% if role == 2 %}
                    <div class="col-4"><a class="appointment-btn -btn btn-primary" href="{{ path('_expediente_sysadmin_program_create') }}" role="button" >{% trans %}label.add{% endtrans %}</a></div>
                {% endif %}
                {% if role == 1 %}
                    <!--<div class="right"><a href="{{ path('_expediente_sysadmin_program_create') }}" class="button success-darker tiny"><span></span>{% trans %}label.add{% endtrans %}</a></div>-->
                    <div class="col-4" align="right">
                        <a id="openProgramCreate" class="modalbox button success-darker tiny" href="#programFormContainerCreate">
                            <button type="button" class="btn btn-info"> <span style="color: #f0f0f0"> {% trans %}label.add{% endtrans %}</span></button>
                        </a>
                    </div>
                {% endif %}
                <div class="clear"></div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
            </div>

            <div class="row-cols-auto">
                    <table class="table table-bordered table-hover   table-striped " id="example2" style="font-size: 14px">
                        <thead>
                        <tr>
                            <th hidden> id</th>
                              <th>Nombre</th>
                              <th>Profesores</th>
                              <th>Estado</th>

                            <th>Ver</th>
                            <th>Datos</th>
                            <th>Editar</th>
                            {% if role != 4 %}
                            <th>Revisar</th>
                            <th>PDF</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for arregloDato in programsM %}
                        <tr class="info">

                            <td hidden >{{ arregloDato.id }}</td>
                            <td class="nowrap">{{ arregloDato.detail }}</td>
                            <td class="nowrap">{{ arregloDato.name }}</td>
                            <td class="nowrap">{% if arregloDato.status == 1 %}  Creado {% endif %}
                                {% if arregloDato.status == 2 %} Modificado {% endif %}
                                {% if arregloDato.status == 3 %} Modificado en espera de Revisión {% endif %}
                                {% if arregloDato.status == 4 %} Revisado correcciones pendientes {% endif %}
                                {% if arregloDato.status == 5 %} Revisado y Aprobado {% endif %}
                                {% if arregloDato.status == 6 %} Finalizado {% endif %}

                            </td>

                                <!-- Columna para poner los botones en la tabla -->


                            <td class="nowrap">
                                    <div class="icon button viewButton" rel="{{ arregloDato.id }}"><a href=""> <i class="fas fa-eye" style="color: #80a9ba" title="Ver"></i> </a> </div>
                            </td>


                            <td class="nowrap">
                                    <div class="icon button editButton" rel="{{ arregloDato.id }}"><a href=""><i class="fas fa-file" style="color: #80a9ba" title="Datos"></i></a></div>
                            </td>

                            {% if role == 3 %}
                            <td class="nowrap">
                                    <div class="icon button " rel="{{ arregloDato.id }}"><a href=""><i class="fas fa-xmark" style="color: #80a9ba" title="Editar Programa"></i></a> </div>
                            </td>
                            {% else %}
                                <td class="nowrap">
                                    <div class="icon button questionsButton" rel="{{ arregloDato.id }}"><a href=""><i class="fas fa-edit" style="color: #80a9ba" title="Editar Programa"></i></a> </div>
                                </td>

                                {% if role != 6 %}
                            <td class="nowrap">
                                    <div class="icon button viewButton" rel="{{ arregloDato.id }}"><a href=""> <i class="fas fa-eye" style="color: #80a9ba" title="Ver"></i> </a> </div>
                            </td>
                                {% else %}
                                    <td class="nowrap">
                                        <div class="icon button viewButton" rel="{{ arregloDato.id }}"> </div>
                                    </td>
                                {% endif %}
                                {% if role == 1 %}
                                    <td class="nowrap">
                                        <div class="icon button editButton" rel="{{ arregloDato.id }}"><a href=""><i class="fas fa-file" style="color: #80a9ba" title="Datos"></i></a></div>
                                    </td>
                                {% else %}
                                    <td class="nowrap">
                                        <div class="icon button viewButton" rel="{{ arregloDato.id }}"> </div>
                                    </td>
                                {% endif %}
                                {% if role != 6 %}
                                     <td class="nowrap">
                                        <div class="icon button questionsButton" rel="{{ arregloDato.id }}"><a href=""><i class="fas fa-edit" style="color: #80a9ba" title="Editar Programa"></i></a> </div>
                                     </td>
                                {% else %}
                                    <td class="nowrap">
                                        <div class="icon button viewButton" rel="{{ arregloDato.id }}"> </div>
                                    </td>

                                {% endif %}
                                {% if role == 1 %}
                                    <td class="nowrap">
                                        <div class="icon button checkButton" rel="{{ arregloDato.id }}"><a href=""><i class="fas fa-search" style="color: #80a9ba" title="Revisar"></i></a></div>
                                    </td>
                                {% else %}
                                    <td class="nowrap">
                                        <div class="icon button viewButton" rel="{{ arregloDato.id }}"> </div>
                                    </td>
                                {% endif %}
                                {% if role == 1 %}
                                    <td class="nowrap">
                                        <div class="icon button pdfButton" rel="{{ arregloDato.id }}"><a href=""><i class="fas fa-file-pdf" style="color: #80a9ba" title="PDF"></i></a></div>
                                    </td>
                                {% else %}
                                    <td class="nowrap">
                                        <div class="icon button viewButton" rel="{{ arregloDato.id }}"> </div>
                                    </td>
                                {% endif %}
                        </tr>
                        {% endfor %}
                        {% for arregloDato2 in exprogramsM %}
                            <tr class="info">

                                <td hidden >{{ arregloDato2.id }}</td>
                                <td class="nowrap">{{ arregloDato2.detail }}</td>
                                <td class="nowrap">{{ arregloDato2.name }}</td>
                                <td class="nowrap">{% if arregloDato2.status == 1 %}  Creado {% endif %}
                                    {% if arregloDato2.status == 2 %} Modificado {% endif %}
                                    {% if arregloDato2.status == 3 %} Modificado en espera de Revisión {% endif %}
                                    {% if arregloDato2.status == 4 %} Revisado correcciones pendientes {% endif %}
                                    {% if arregloDato2.status == 5 %} Revisado y Aprobado {% endif %}
                                    {% if arregloDato2.status == 6 %} Finalizado {% endif %}

                                </td>

                                <!-- Columna para poner los botones en la tabla -->
                                {% if role != 4 %}
                                    <td class="nowrap">

                                        <div class="icon button viewButton" rel="{{ arregloDato2.id }}"><a href=""><i class="fas fa-eye" style="color: #80a9ba" title="Ver"></i></a></div>

                                        <div class="icon button viewButton" rel="{{ arregloDato2.id }}"><a href=""><i class="fas fa-eye" style="color: #3749AD" title="Ver"></i></a></div>

                                    </td>
                                {% endif %}
                                {% if role == 1 %}
                                    <td class="nowrap">

                                        <div class="icon button editButton" rel="{{ arregloDato2.id }}"><a href=""><i class="fas fa-file" style="color: #80a9ba" title="Editar Datos"></i></a></div>
                                    </td>
                                {% endif %}
                                {% if role != 4 %}
                                    <td class="nowrap">
                                        <div class="icon button questionsButton" rel="{{ arregloDato2.id }}"><a href=""><i class="fas fa-edit" style="color: #80a9ba" title="Editar Programa"></i></a></div>

                                        <div class="icon button editButton" rel="{{ arregloDato2.id }}"><a href=""><i class="fas fa-file" style="color: #3749AD"  title="Editar Datos"></i></a></div>
                                    </td>
                                   {% else %}
                                    <td class="nowrap">
                                        <div class="icon button viewButton" rel="{{ arregloDato2.id }}"> </div>
                                    </td>
                                {% endif %}
                                {% if role == 1 %}
                                    <td class="nowrap">
                                        <div class="icon button questionsButton" rel="{{ arregloDato2.id }}"><a href=""><i class="fas fa-edit" style="color: #3749AD" title="Editar Programa"></i></a></div>
                                    </td>
                                {% else %}
                                    <td class="nowrap">
                                        <div class="icon button viewButton" rel="{{ arregloDato2.id }}"> </div>

                                    </td>
                                {% endif %}
                                {% if role != 4 %}
                                    <td class="nowrap">

                                        <div class="icon button " rel="{{ arregloDato2.id }}"><a href=""><i class="fas fa-xmark" style="color: #80a9ba" title="Revisar"></i></a></div>

                                        <div class="icon button checkButton" rel="{{ arregloDato2.id }}"><a href=""><i class="fas fa-search" style="color: #3749AD"  title="Ver"></i></a></div>
                                    </td>
                                {% else %}
                                    <td class="nowrap">
                                        <div class="icon button viewButton" rel="{{ arregloDato2.id }}"> </div>

                                    </td>
                                {% endif %}
                                {% if role == 1 %}
                                    <td class="nowrap">
                                        <div class="icon button pdfButton" rel="{{ arregloDato2.id }}"><a href=""><i class="fas fa-file-pdf" style="color: #3749AD"  title="PDF"></i></a></div>
                                    </td>
                                {% else %}
                                    <td class="nowrap">

                                        <div class="icon button pdfButton" rel="{{ arregloDato2.id }}"><a href=""><i class="fas fa-file-pdf" style="color: #80a9ba" title="PDF"></i></a></div>

                                        <div class="icon button viewButton" rel="{{ arregloDato2.id }}"> </div>

                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>

        <div class="clear"></div>
        </div>

    <div id="contactRowTemplate" class="row userRow ROW_CLASS" rel="PROGRAM_ID" style="display: none;">
        <div class="option_width" title="TITLE_PROGR_DETAIL" style="float: left; width: 400px; margin-left: -6px;">PROGRAM_DETAIL</div>
        <div class="option_width" title="TITLE_PROGR_NAME" style="float: left; width: 150px; margin-left: -6px;">PROGRAM_NAME</div>
        <div class="option_width" style="float: left; width: 200px; margin-left: -6px;">PROGRAM_STATUS</div>

        <!--<div class="right imageButton pdfButton"  title="{% trans %}label.check.program{% endtrans %}" rel="PROGRAM_ID"></div>
        <div class="right imageButton nopdfButton"  title="{% trans %}label.check.program{% endtrans %}" rel="PROGRAM_ID"></div>-->

        {% if role != 4 %}
            <div class="right imageButton checkButton"  title="{% trans %}label.check.program{% endtrans %}" rel="PROGRAM_ID"></div>
        {% endif %}
        {% if role != 3 %}
            <div class="right imageButton questionsButton"  title="{% trans %}label.edit.program{% endtrans %}" rel="PROGRAM_ID"></div>
        {% endif %}
        {% if role != 3 and role != 4 %}
            <div class="right imageButton editButton"  title="{% trans %}label.edit{% endtrans %}"  rel="PROGRAM_ID"></div>
        {% endif %}
        <div class="right imageButton viewButton"  title="{% trans %}label.view{% endtrans %}"  rel="PROGRAM_ID"></div>
        <div class="clear"></div>
    </div>

    <div id="contactRowTemplateEnd" class="row userRow ROW_CLASS" rel="PROGRAM_ID" style="display: none;">
        <div class="option_width" title="TITLE_PROGR_DETAIL" style="float: left; width: 400px; margin-left: -6px;">PROGRAM_DETAIL</div>
        <div class="option_width" title="TITLE_PROGR_NAME" style="float: left; width: 150px; margin-left: -6px;">PROGRAM_NAME</div>
        <div class="option_width" style="float: left; width: 200px; margin-left: -6px;">PROGRAM_STATUS</div>

        <!--<div class="right imageButton pdfButton"  title="{% trans %}label.check.program{% endtrans %}" rel="PROGRAM_ID"></div>
        <div class="right imageButton nopdfButton"  title="{% trans %}label.check.program{% endtrans %}" rel="PROGRAM_ID"></div>-->

        {% if role != 4 %}
            <div class="right imageButton checkButton"  title="{% trans %}label.check.program{% endtrans %}" rel="PROGRAM_ID"></div>
        {% endif %}
        <div class="right imageButton viewButton"  title="{% trans %}label.view{% endtrans %}"  rel="PROGRAM_ID"></div>
        <div class="clear"></div>
    </div>


    {% if role == 3 %}
        <div id="excontactRowTemplate" class="row userRow ROW_CLASS" rel="EXPROGRAM_ID" style="display: none;">
            <div class="option_width" title="TITLE_EXPROGR_DETAIL" style="float: left; width: 400px; margin-left: -6px;">EXPROGRAM_DETAIL</div>
            <div class="option_width" title="TITLE_EXPROGR_NAME" style="float: left; width: 150px; margin-left: -6px;">EXPROGRAM_NAME</div>
            <div class="option_width" style="float: left; width: 200px; margin-left: -6px;">EXPROGRAM_STATUS</div>

            <div class="right imageButton questionsButton"  title="{% trans %}label.edit.program{% endtrans %}" rel="EXPROGRAM_ID"></div>
            <div class="right imageButton editButton"  title="{% trans %}label.edit{% endtrans %}"  rel="EXPROGRAM_ID"></div>
            <div class="right imageButton viewButton"  title="{% trans %}label.view{% endtrans %}"  rel="EXPROGRAM_ID"></div>
            <div class="clear"></div>
        </div>

        <div id="excontactRowTemplateEnd" class="row userRow ROW_CLASS" rel="EXPROGRAM_ID" style="display: none;">
            <div class="option_width" title="TITLE_EXPROGR_DETAIL" style="float: left; width: 400px; margin-left: -6px;">EXPROGRAM_DETAIL</div>
            <div class="option_width" title="TITLE_EXPROGR_NAME" style="float: left; width: 150px; margin-left: -6px;">EXPROGRAM_NAME</div>
            <div class="option_width" style="float: left; width: 200px; margin-left: -6px;">EXPROGRAM_STATUS</div>

            <div class="right imageButton viewButton"  title="{% trans %}label.view{% endtrans %}"  rel="EXPROGRAM_ID"></div>
            <div class="clear"></div>
        </div>
    {% endif %}

    <div style="display: none;">
        <a id="openProgramForm" class="right button success-darker tiny modalbox" style="margin: 4px 0px 0 0;" href="#showContactInfoLink">{% trans %}label.open{% endtrans %}</a>
        <a id="openProgramEdit" class="right button success-darker tiny modalbox" style="margin: 4px 0px 0 0;" href="#programFormContainerEdit">{% trans %}label.open{% endtrans %}</a>
        <a id="openProgramCreate" class="right button success-darker tiny modalbox" style="margin: 4px 0px 0 0;" href="#programFormContainerCreate">{% trans %}label.open{% endtrans %}</a>
    </div>
    <!-- hidden showContactInfoLink form -->
    <div id="showContactInfoLink" style="display: none; width: 650px; height: 500px">

        <h3>Informaci&oacute;n de Programa</h3>
        <div id="programContainer" name="programContainer" class="contactInfo">

        </div>
    </div>


    <!-- hidden teacherAssignedFormContainer form -->
    <div id="programFormContainerEdit" style="display: none;">
        <h3 style="margin-bottom: 0px;">Editar Programa</h3>

        <form class="programEditForm" id="programEditForm" name="courseForm">

            <div style="margin-bottom: 5px;">
                <label style="display: inline-block; width: 165px">{% trans %}label.detail{% endtrans %}</label>
                <input type="text" id="detailProgram" name="detailProgram" style="width: 250px">
            </div>

            <div style="margin-bottom: 5px;">
                <label style="display: inline-block; width: 165px">{% trans %}label.date{% endtrans %}</label>
                <input type="text" id="dateProgram" name="dateProgram" style="width: 250px">
            </div>

            <div style="margin-bottom: 5px; display: none;">
                <label style="display: inline-block; width: 165px">{% trans %}label.id{% endtrans %}</label>
                <input type="text" id="idProgram" name="idProgram" style="width: 250px">
            </div>



            <div class="left"><input class="button success-darker tiny" style="margin-top: 0px;" type="button" name="courseCancel" id="courseCancel" value="{% trans %}label.cancelar{% endtrans %}"/></div>
            <div class="left"><input class="button success-darker tiny" style="margin-top: 0px; margin-left: 25px;" type="submit" name="save" value="{% trans %}label.include{% endtrans %}"/></div>
            <div class="clear"></div>
        </form>
    </div>


    <!-- hidden teacherAssignedFormContainer form -->
    <div id="programFormContainerCreate" style="display: none;">
        <h3 style="margin-bottom: 0px;">Agregar Programa</h3>

        <form class="customForm" id="programForm" name="programForm">

            <div style="margin-bottom: 5px;">
                <label style="display: inline-block; width: 165px">{% trans %}label.name{% endtrans %}</label>
                <input type="text" id="nameProgram" name="nameProgram" style="width: 250px">
            </div>

            <div style="margin-bottom: 5px;">
                <label style="display: inline-block; width: 165px">{% trans %}label.type{% endtrans %}</label>
                <select id="typeProgram" name="typeProgram" style="width: 120px;">
                    <option value="0"></option>
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>


            <div style="margin-bottom: 5px;">
                <label style="display: inline-block; width: 165px">{% trans %}label.teacher{% endtrans %}</label>
                <select id="teacherProgram" name="teacherProgram" style="width: 120px;">
                    <option value="0"></option>
                    {% for teacher in teachers %}
                        <option value="{{ teacher.id }}">{{ teacher.firstname ~ " " ~ teacher.lastname }}</option>
                    {% endfor %}
                </select>
            </div>


            <div style="margin-bottom: 5px;">
                <label style="display: inline-block; width: 165px">{% trans %}label.course{% endtrans %}</label>
                <select id="courseProgram" name="courseProgram" style="width: 120px;">
                    <option value="0"></option>
                    {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.groupnumber ~ " " ~ course.code ~ " " ~ course.name }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="left"><input class="button success-darker tiny" style="margin-top: 0px;" type="button" name="courseCancel" id="courseCancel" value="{% trans %}label.cancelar{% endtrans %}"/></div>
            <div class="left"><input class="button success-darker tiny" style="margin-top: 0px; margin-left: 25px;" type="submit" name="save" value="{% trans %}label.include{% endtrans %}"/></div>
            <div class="clear"></div>
        </form>
    </div>

{% endblock %}