{% extends 'layouts/logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Usuarios
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.js?w=2.0.6') }}"></script>
<script type="text/javascript">
    Tecnotek.UI.urls["api"] = "";
    Tecnotek.UI.translates["btnDone"] = "";
    Tecnotek.module = "profesorList";
    Tecnotek.imagesURL = "/images";
    Tecnotek.assetsURL = "{{ path('homepage')}}";
    Tecnotek.UI.urls["show"] = "{{ path('_expediente_sysadmin_profesor_show_simple')}}";


    Tecnotek.UI.urls["createUserURL"] = "{{ path("_expediente_sysadmin_create_user") }}";
</script>
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('fancybox/fancybox_style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-timepicker-addon.css') }}" type="text/css" media="all" />

    <div class="container_24">
    <div class="grid_24">
        <div class="titleRow">
            <div class="left"><h3>{% trans %}label.usuarios.profesor.listar{% endtrans %}</h3></div>
            <!-- <div class="right"><a href="{{ path('_expediente_sysadmin_profesor_create') }}" class="button success-darker tiny"><span></span>{% trans %}label.add{% endtrans %}</a></div> -->

            <div class="right"><a id="openUserCreate" class="modalbox button success-darker tiny" href="#userFormContainerCreate">{% trans %}label.add{% endtrans %}</a> </div>
            <div class="clear"></div>
        </div>
        <div class="table">
            <div class="row tableHeader">
                <div class="option_width" style="float: left; width: 200px;">{% trans %}label.name{% endtrans %}</div>
                <div class="option_width" style="float: left; width: 200px;">{% trans %}label.username{% endtrans %}</div>
                <div class="option_width" style="float: left; width: 250px;">{% trans %}label.email{% endtrans %}</div>
                <div class="option_width" style="float: left; width: 150px;">{% trans %}label.status{% endtrans %}</div>
            </div>

            {% set counter = 0 %}

            {% for entity in pagination %}
                <div class="row userRow {% if counter%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}" rel="{{ entity.id }}">
                    <div class="option_width" style="float: left; width: 200px;">{{ entity.firstname }} {{ entity.lastname }}</div>
                    <div class="option_width" style="float: left; width: 200px;">{{ entity.username }}</div>
                    <div class="option_width" style="float: left; width: 250px;">{{ entity.email }}</div>
                    <div class="option_width" style="float: left; width: 150px;">{% if entity.active %}{% trans %}usuarios.estado.1{% endtrans %}{% else %} {% trans %}usuarios.estado.2{% endtrans %} {% endif %}</div>
                    <div class="right imageButton viewButton"  title="{% trans %}label.view{% endtrans %}"  rel="{{ entity.id }}"></div>
                </div>
                {% set counter = counter + 1 %}
            {% endfor %}
        </div>
        <br/>
    
        <div style="margin-bottom:75px;">
            {{ knp_pagination_render(pagination)|raw }}
        </div>    
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <!-- hidden userFormContainerCreate form -->
    <div id="userFormContainerCreate" style="display: none;">
        <h3 style="margin-bottom: 0px;">Agregar Profesor</h3>

        <form class="customForm" id="userForm" name="userForm">

            <div style="margin-bottom: 5px;">
                <label style="display: inline-block; width: 165px">{% trans %}label.firstname{% endtrans %}</label>
                <input type="text" id="firstnameUser" name="firstnameUser" style="width: 250px">
            </div>

            <div style="margin-bottom: 5px;">
                <label style="display: inline-block; width: 165px">{% trans %}label.lastname{% endtrans %}</label>
                <input type="text" id="lastnameUser" name="lastnameUser" style="width: 250px">
            </div>

            <div style="margin-bottom: 5px;">
                <label style="display: inline-block; width: 165px">{% trans %}label.email{% endtrans %}</label>
                <input type="text" id="emailUser" name="emailUser" style="width: 250px">
            </div>

            <div style="margin-bottom: 5px;">
                <label style="display: inline-block; width: 165px">{% trans %}label.username{% endtrans %}</label>
                <input type="text" id="usernameUser" name="usernameUser" style="width: 250px">
            </div>



            <div class="left"><input class="button success-darker tiny" style="margin-top: 0px;" type="button" name="userCancel" id="userCancel" value="{% trans %}label.cancelar{% endtrans %}"/></div>
            <div class="left"><input class="button success-darker tiny" style="margin-top: 0px; margin-left: 25px;" type="submit" name="save" value="{% trans %}label.include{% endtrans %}"/></div>
            <div class="clear"></div>
        </form>
    </div>
</div>
{% endblock %}