{% extends 'layouts/logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Actas
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('fancybox/fancybox_style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-timepicker-addon.css') }}" type="text/css" media="all" />

{% endblock %}


{% block extrajs %}
    <script type="text/javascript" src="{{ asset('assets/js/tek_exp_students.js?f=1') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>
    <script type="text/javascript">
        Tecnotek.module = "recordList";
        Tecnotek.assetsURL = "{{ path('homepage')}}";

        Tecnotek.UI.urls["searchRecords"] = "{{ path('_expediente_sysadmin_record_search')}}";


        Tecnotek.UI.urls["createRecordURL"] = "{{ path("_expediente_sysadmin_create_record") }}";

        Tecnotek.UI.urls["updateRecordURL"] = "{{ path("_expediente_sysadmin_update_record") }}";


        Tecnotek.UI.urls["getInfoRecordFullURL"] = "{{ path("_expediente_sysadmin_get_info_record_full") }}";
        Tecnotek.UI.urls["getInfoRecordURL"] = "{{ path("_expediente_sysadmin_get_info_record_detail") }}";


    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col-8"><h3>{% trans %}label.record.listar{% endtrans %}</h3></div>
            {% if role == 1 %}
                <div class="col-4" align="right"><a id="openRecordForm" class="modalbox button success-darker tiny" href="#recordFormContainer">
                        <button type="button" class="btn btn-info"> <span style="color: #f0f0f0">{% trans %}label.add{% endtrans %}</span></button>
                    </a> </div>
            {% endif %}
                <div class="clear"></div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    &nbsp;
                </div>
            </div>

            <div class="bs-example" data-example-id="contextual-table">
                <table class="table table-bordered table-hover table-condensed table-striped" id="example2" style="font-size: 14px">
                    <thead>
                    <tr>
                        <th hidden> id</th>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th></th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for arregloDato in records %}
                        <tr class="info">
                            <td hidden>{{ arregloDato.id }}</td>
                            <td class="nowrap">{{ arregloDato.date }}</td>
                            <td class="nowrap">{{ arregloDato.name }}</td>
                            <td class="nowrap">{{ arregloDato.status }}</td>

                            <!-- Columna para poner los botones en la tabla -->
                            <td class="nowrap">
                                <div class="icon button viewButton" rel="{{ arregloDato.id }}"><a href=""> <i class="fas fa-eye" style="color: dodgerblue" title="Ver"></i></a></div>
                            </td>

                            <td class="nowrap">
                                <div class="icon button editButton" rel="{{ arregloDato.id }}"><a href=""><i class="fas fa-gear" style="color: dodgerblue" title="Editar Datos"></i></a></div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            

        </div>
        <div class="clear"></div>



        <div style="display: none;">
            <a id="openRecordView" class="right button success-darker tiny modalbox" style="margin: 4px 0px 0 0;" href="#showContactInfoLink">{% trans %}label.open{% endtrans %}</a>
            <a id="openRecordEdit" class="right button success-darker tiny modalbox" style="margin: 4px 0px 0 0;" href="#recordFormContainerEdit">{% trans %}label.open{% endtrans %}</a>
        </div>
        <!-- hidden showContactInfoLink form -->
        <div id="showContactInfoLink" style="display: none; width: 650px; height: 500px">

            <h3>Informaci&oacute;n de Asamblea</h3>
            <div id="recordContainerView" name="recordContainerView" class="contactInfo">

            </div>
        </div>



        <!-- hidden teacherAssignedFormContainer form -->
        <div id="recordFormContainer" style="display: none;">
            <h3 style="margin-bottom: 0px;">Agregar Acta</h3>

            <form class="customForm" id="recordForm" name="recordForm">

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.name{% endtrans %}</label>
                    <input type="text" id="nameRecord" name="nameRecord" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.summary{% endtrans %}</label>
                    <input type="text" id="summaryRecord" name="summaryRecord" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.type{% endtrans %}</label>
                    <select id="typeRecord" name="typeRecord" style="width: 120px;">
                        <option value="0"></option>
                            <option value="1">Tipo 1</option>
                            <option value="2">Tipo 2</option>
                    </select>
                </div>


                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px;" type="button" name="recordCancel" id="recordCancel" value="{% trans %}label.cancelar{% endtrans %}"/></div>
                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px; margin-left: 25px;" type="submit" name="save" value="{% trans %}label.include{% endtrans %}"/></div>
                <div class="clear"></div>
            </form>
        </div>

        <!-- hidden teacherAssignedFormContainer form -->
        <div id="recordFormContainerEdit" style="display: none;">
            <h3 style="margin-bottom: 0px;">Editar Acta</h3>

            <form class="customForm" id="recordFormEdit" name="recordFormEdit">

                <div style="margin-bottom: 5px; display: none;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.id{% endtrans %}</label>
                    <input type="text" id="idRecordEdit" name="idRecordEdit" style="width: 250px" value="0">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.name{% endtrans %}</label>
                    <input type="text" id="nameRecordEdit" name="nameRecordEdit" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.summary{% endtrans %}</label>
                    <input type="text" id="summaryRecordEdit" name="summaryRecordEdit" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.type{% endtrans %}</label>
                    <select id="typeRecordEdit" name="typeRecordEdit" style="width: 120px;">
                        <option value="0"></option>
                        <option value="1">Tipo 1</option>
                        <option value="2">Tipo 2</option>
                    </select>
                </div>



                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px;" type="button" name="recordCancel" id="recordCancel" value="{% trans %}label.cancelar{% endtrans %}"/></div>
                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px; margin-left: 25px;" type="submit" name="save" value="{% trans %}label.save{% endtrans %}"/></div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
{% endblock %}