{% extends 'layouts/logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Actas
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('fancybox/fancybox_style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-timepicker-addon.css') }}" type="text/css" media="all" />

{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ asset('js/tek_exp_students.js?u=1') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>
    <script type="text/javascript">
        Tecnotek.module = "recordList";
        Tecnotek.assetsURL = "{{ path('homepage')}}";

        Tecnotek.UI.urls["searchRecords"] = "{{ path('_expediente_sysadmin_record_search')}}";


        Tecnotek.UI.urls["createRecordURL"] = "{{ path("_expediente_sysadmin_create_record") }}";

        Tecnotek.UI.urls["updateRecordURL"] = "{{ path("_expediente_sysadmin_update_record") }}";


        Tecnotek.UI.urls["getInfoRecordFullURL"] = "{{ path("_expediente_sysadmin_get_info_record_full") }}";
        Tecnotek.UI.urls["getInfoRecordURL"] = "{{ path("_expediente_sysadmin_get_info_record_detail") }}";


    </script>
{% endblock %}

{% block content %}
    <div class="container_24">
        <div class="grid_24">
            <div class="titleRow">
                <div class="left"><h3>{% trans %}label.record.listar{% endtrans %}</h3></div>
            {% if role == 1 %}
                <!-- <div class="right"><a href="{{ path('_expediente_sysadmin_course_create') }}" class="button success-darker tiny"><span></span>{% trans %}label.add{% endtrans %}</a></div> -->
                 <div class="right"><a id="openRecordForm" class="modalbox button success-darker tiny" href="#recordFormContainer">{% trans %}label.add{% endtrans %}</a> </div>
            {% endif %}
                <div class="clear"></div>
            </div>

            <div class="table">
                <div class="row tableHeader">
                    <div class="option_width sort_header" style="float: left; width: 150px; margin-left: -6px;"
                         field-name="code" order="asc">
                        <span class="header-title asc" title="Code">{% trans %}label.date{% endtrans %}</span>
                    </div>
                    <div class="option_width sort_header" style="float: left; width: 400px; margin-left: -6px;"
                         field-name="name" order="asc">
                        <span class="header-title sortable" title="Name">{% trans %}label.name{% endtrans %}</span>
                    </div>
                    <div class="option_width sort_header" style="float: left; width: 125px; margin-left: -6px;"
                         field-name="type" order="asc">
                        <span class="header-title sortable" title="Type">{% trans %}label.status{% endtrans %}</span>
                    </div>
                    <div class="right" style="margin-top: -2px;"><a style="margin: 4px 0px 0px 0px;" href="#" class="button success-darker tiny" id="btnSearch" name="btnSearch"><span></span>{% trans %}label.search{% endtrans %}</a></div>
                    <div class="right" style="width: 5px; height: 26px"></div>
                    <div class="option_width right">
                        <input id="searchText" name="searchText" value="{{ text }}">
                    </div>
                </div>

                <div id="students-container">
                </div>

                <div id="exstudents-container">
                </div>
            </div>

            <div style="margin-bottom:75px;" id="pagination-container">
            </div>

        </div>
        <div class="clear"></div>


        <div id="contactRowTemplate" class="row userRow ROW_CLASS" rel="RECORD_ID" style="display: none;">
            <div class="option_width" style="float: left; width: 150px; margin-left: -6px;">RECORD_DATE</div>
            <div class="option_width" style="float: left; width: 400px; margin-left: -6px;">RECORD_NAME</div>
            <div class="option_width" style="float: left; width: 200px; margin-left: -6px;">RECORD_STATUS</div>

    {% if role == 1 %}
            <div class="right imageButton editButton"  title="{% trans %}label.edit{% endtrans %}"  rel="RECORD_ID"></div>
    {% endif %}
            <div class="right imageButton viewButton"  title="{% trans %}label.view{% endtrans %}"  rel="RECORD_ID"></div>
            <div class="clear"></div>
        </div>


        <br/>

        <div style="display: none;">
            <a id="openRecordView" class="right button success-darker tiny modalbox" style="margin: 4px 0px 0 0;" href="#showContactInfoLink">{% trans %}label.open{% endtrans %}</a>
            <a id="openRecordEdit" class="right button success-darker tiny modalbox" style="margin: 4px 0px 0 0;" href="#recordFormContainerEdit">{% trans %}label.open{% endtrans %}</a>
        </div>
        <!-- hidden showContactInfoLink form -->
        <div id="showContactInfoLink" style="display: none; width: 650px; height: 500px">

            <h3>Informaci&oacute;n de Asamblea</h3>
            <div id="recordContainerView" name="recordContainerView" class="contactInfo">

            </div>
        </div>



        <!-- hidden teacherAssignedFormContainer form -->
        <div id="recordFormContainer" style="display: none;">
            <h3 style="margin-bottom: 0px;">Agregar Acta</h3>

            <form class="customForm" id="recordForm" name="recordForm">

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.name{% endtrans %}</label>
                    <input type="text" id="nameRecord" name="nameRecord" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.summary{% endtrans %}</label>
                    <input type="text" id="summaryRecord" name="summaryRecord" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.type{% endtrans %}</label>
                    <select id="typeRecord" name="typeRecord" style="width: 120px;">
                        <option value="0"></option>
                            <option value="1">Tipo 1</option>
                            <option value="2">Tipo 2</option>
                    </select>
                </div>


                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px;" type="button" name="recordCancel" id="recordCancel" value="{% trans %}label.cancelar{% endtrans %}"/></div>
                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px; margin-left: 25px;" type="submit" name="save" value="{% trans %}label.include{% endtrans %}"/></div>
                <div class="clear"></div>
            </form>
        </div>

        <!-- hidden teacherAssignedFormContainer form -->
        <div id="recordFormContainerEdit" style="display: none;">
            <h3 style="margin-bottom: 0px;">Editar Acta</h3>

            <form class="customForm" id="recordFormEdit" name="recordFormEdit">

                <div style="margin-bottom: 5px; display: none;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.id{% endtrans %}</label>
                    <input type="text" id="idRecordEdit" name="idRecordEdit" style="width: 250px" value="0">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.name{% endtrans %}</label>
                    <input type="text" id="nameRecordEdit" name="nameRecordEdit" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.summary{% endtrans %}</label>
                    <input type="text" id="summaryRecordEdit" name="summaryRecordEdit" style="width: 250px">
                </div>

                <div style="margin-bottom: 5px;">
                    <label style="display: inline-block; width: 165px">{% trans %}label.type{% endtrans %}</label>
                    <select id="typeRecordEdit" name="typeRecordEdit" style="width: 120px;">
                        <option value="0"></option>
                        <option value="1">Tipo 1</option>
                        <option value="2">Tipo 2</option>
                    </select>
                </div>



                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px;" type="button" name="recordCancel" id="recordCancel" value="{% trans %}label.cancelar{% endtrans %}"/></div>
                <div class="left"><input class="button success-darker tiny" style="margin-top: 0px; margin-left: 25px;" type="submit" name="save" value="{% trans %}label.save{% endtrans %}"/></div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
{% endblock %}